doctype html 
html 
    head
        meta(charset="UTF-8")
        title Подготовка к ЕГЭ | IQPoint
        link(rel="stylesheet",href="../styles/style.css")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        include ../pug/include/header.pug
        
    body
        .body-container 
            .container-fluid
                .row.mx-3.mt-3
                    .col-8 
                        h3 До конца записи осталось:
                        h3.bigger 999 дней 99 часов 99 минут
                    .col-4.text-end
                        h2 Интенсивный курс подготовки к ЕГЭ по информатике
                .row.mx-3.py-5.text-center
                    .col.d-flex.flex-column.align-items-center.justify-content.center
                        img(src="../assets/shape1.svg" class="position-absolute")
                        h1.py-5 IQPoint
                .row.mx-3
                    .col-8.d-flex
                        h3.bigger.mt-auto 8 месяцев до заветных 100 баллов!
                    .col-4.text-center
                        button.btn-primary Записаться
                        p Старт следующего потока - 1 сентября
                .divider
                .row
                    .col-3 
                    .col-6
                        .row
                            .col.course-desc.mt-5
                                p.desc-title.pt-4.ps-3 О нас
                                .divider-small.purp
                                p.desc-main.px-3.mb-5 Наш курс создан для помощи студентам в подготоке к ЕГЭ по информатике. Мы предлагаем различные программы обучения и бесплатные материалы, чтобы каждый мог успешно сдать экзамен и поступить в желаемый ВУЗ.
                            .col
                                img.img-fluid.course-img(src='../assets/aboutus.jpg')
                    .col-3
                .divider
                .row.mx-3.text-center
                    .col
                        h3.bigger Тарифы
                .row.mx-3.mt-3.text-center
                    .col-3
                    .col-6
                        p Выберите тариф, который подходит именно вам:
                    .col-3
                .row.mx-3.mt-5
                    .col-2 
                    .col-8.mx-5.px-5.mt-5
                        p.course-title Базовый курс
                        p.t-description Подходит для начинающих. Включает основные темы экзамена, разбор типовых задач и домашние задания.
                        p.course-title Интенсивный курс для продвинутых
                        p.t-description Для тех, кто хочет углубить знания и подготовиться к решению сложных задач. Курс включает разбор сложных заданий и индивидуальные консультации.
                        p.course-title Курс с тестированием и аналитикой
                        p.t-description Включает регулярные тестирования, анализ ошибок и рекомендации по улучшению результатов. Подходит для всех уровней подготовки.
                        .row.d-flex.justify-content-center
                            button.btn-secondary(src="../pug/pricing.html") Перейти к выбору тарифа
                    .col-2
                .divider 
                .row.mx-3.text-center
                    .col
                        h3.bigger Бесплатные материалы
                .row.mx-3.mt-3.text-center
                    .col-3
                    .col-6.mt-5
                        p Улучшите свою подготовку с нашими бесплатными материалами: пробные тесты, видеоуроки и учебные пособия.
                    .col-3
                .row.mx-3.mt-3
                    .col-2
                    .col-8
                        .table-container.mb-5
                            .row.mt-5
                                .col.mx-3
                                    .row
                                        .col-1
                                            img.icon(src="../assets/icon_search.svg")
                                        .col-11
                                            p.title Пробные тесты
                                            p.description Практикуйтесь с пробными тестами, чтобы оценить свои знания и готовность к экзамену.
                                .col.mx-3
                                    .row
                                        .col-1
                                            img.icon(src="../assets/icon_video.svg")
                                        .col-11
                                            p.title Видеоуроки
                                            p.description Подробные видеоуроки помогают разобраться в сложных темах и закрепить знания.
                            .row.mt-5
                                .col.mx-3
                                    .row
                                        .col-1
                                            img.icon(src="../assets/icon_book.svg")
                                        .col-11
                                            p.title Учебные пособия
                                            p.description Получите доступ к качественным учебным пособиям, составленным опытными педагогами.
                                .col.mx-3
                                    .row
                                        .col-1
                                            img.icon(src="../assets/icon_scheme.svg")
                                        .col-11
                                            p.title Индивидуальный подход
                                            p.description Подстраивайте процесс обучения под свои потребности и темп освоения материала.
                        .col-2
                .divider#feedback 
                .row
                    .container.text-center
                        h3.bigger Отзывы наших учеников
                        #feedbackCarousel.carousel.slide(data-bs-ride="carousel").mt-5
                            .carousel-inner.mb-3
                                .carousel-item.active.pb-5
                                    .d-flex.flex-column.align-items-center
                                        img.rounded-circle.mb-4(src="../assets/feedback1.png" alt="Отзыв 1" width="120" height="120")
                                        p.feedback.text-center.w-50.mx-auto Отличные материалы для самостоятельной подготовки и грамотные преподаватели на курсах. Помогли разобраться в сложных темах и уверенно сдать экзамен.
                                        p.course-title Анна
                                        p.smaller Сдала ЕГЭ на 95 баллов
                                .carousel-item.pb-5
                                    .d-flex.flex-column.align-items-center
                                        img.rounded-circle.mb-4(src="../assets/feedback2.png" alt="Отзыв 2" width="120" height="120")
                                        p.feedback.text-center.w-50.mx-auto На сайте нашел много полезных задач и тестов для практики. Всё структурировано и понятно, что очень помогает в подготовке.
                                        p.course-title Максим
                                        p.smaller Сдал ЕГЭ на 82 балла
                                .carousel-item.pb-5
                                    .d-flex.flex-column.align-items-center
                                        img.rounded-circle.mb-4(src="../assets/feedback3.png" alt="Отзыв 2" width="120" height="120")
                                        p.feedback.text-center.w-50.mx-auto Очень рад, что выбрал этот ресурс для подготовки. Много интересных заданий и тестов, которые помогли мне улучшить свои знания и успешно сдать экзамен.
                                        p.course-title Сергей
                                        p.smaller Сдал ЕГЭ на 100 баллов
                            ol.carousel-indicators.mt-5
                                li(data-bs-target="#feedbackCarousel" data-bs-slide-to="0" class="active")
                                li(data-bs-target="#feedbackCarousel" data-bs-slide-to="1")
                                li(data-bs-target="#feedbackCarousel" data-bs-slide-to="2")
                .divider#FAQ
                .row.mx-3.text-center.mb-5
                    .col
                        h3.bigger Часто задаваемые вопросы
                .divider.w-50.my-3
                .row.mx-3.text-start.table-container
                    .col-3 
                    .col-6
                        p.title Какие результаты гарантируют ваши курсы?
                        p.description Мы помогаем ученикам значительно повысить уровень знаний и подготовиться к успешной сдаче экзамена. Результаты зависят от индивидуальных усилий и начального уровня подготовки каждого ученика.
                .divider.w-50.my-3
                .row.mx-3.text-start.table-container
                    .col-3 
                    .col-5
                        p.title Могу ли я попробовать курс перед покупкой?
                        p.description Да, у нас есть бесплатные материалы и демо-версии курсов, чтобы вы могли оценить методику и подход перед покупкой полного курса.
                .divider.w-50.my-3
                .row.mx-3.text-start.table-container
                    .col-3 
                    .col-6
                        p.title Как проходит обучение?
                        p.description Обучение включает в себя видео-лекции, практические задания, тесты и индивидуальные консультации с преподавателями.
                .divider.w-50.my-3
                .row.mx-3.text-start.table-container
                    .col-3 
                    .col-6
                        p.title Можно ли получить помощь с домашними заданиями?
                        p.description Да, наши преподаватели готовы помочь с разбором сложных задач и объяснить непонятные темы в рамках индивидуальных консультаций.
                .divider.w-50.my-3
                .divider#contacts
                .row.mx-3.text-center
                    .col
                        h3.bigger Свяжитесь с нами
                .row.mx-3.mt-3.text-center
                    .col-4
                    .col-4.mt-5
                        p Мы всегда на связи и готовы ответить на ваши вопросы по подготовке к экзамену.
                    .col-4
                .row.mx-3.mt-5 
                    .col-3
                    .col-6
                        .row 
                            .col 
                                p +7 800 123 45 67
                                p iqpoint@mail.ru
                            .col
                                .contact-form-index
                                    form
                                        .mb-4
                                            input#name.form-control(type="text" placeholder="Ваше имя")
                                        .mb-4
                                            input#email.form-control(type="text" placeholder="Ваш электронный адрес")
                                        .mb-4
                                            input#comment.form-control(type="text" placeholder="Комментарий")
                                        button.btn-secondary.w-100 Отправить сообщение
                    .col-3
    include ../pug/include/footer.pug