footer
        .container-fluid.footer-container 
            .row.mx-3.mt-3 
                .col-2 
                .col-8
                    .row.my-5 
                        .col-2.white-rect.text-center
                            h1 IQPoint 
                        .col-2 
                        .col-8.white-rect
                            .row.d-flex.align-items-center
                                .col.d-flex.justify-content-center.pt-2.text-center
                                    a.nav-link(href="../pug/programms.html") Программы
                                .col.d-flex.justify-content-center.pt-2.text-center
                                    a.nav-link(href="../pug/pricing.html") Тарифы
                                .col.d-flex.justify-content-center.pt-2.text-center
                                    a.nav-link(href="../pug/teachers.html") Кураторы
                                .col.d-flex.justify-content-center.pt-2.text-center
                                    a.nav-link(href="../pug/index.html#FAQ") FAQ
                    .row-mt-5 
                        p.mt-5.pt-3 ©2025 «IQPoint». Все права защищены.
                .col-2