.container-fluid.header-container
            .row.mx-5.my-3
                .col-2
                .col-8
                    .header-col
                        .row.px-5.d-flex.align-items-center
                            .col.d-flex.justify-content-center.py-3
                                a.nav-link(href="../pug/programms.html") Программы
                            .col.d-flex.justify-content-center
                                a.nav-link(href="../pug/pricing.html") Тарифы
                            .col.d-flex.justify-content-center
                                a.nav-link(href="../pug/teachers.html") Кураторы
                            .col.d-flex.justify-content-center
                                a.nav-link.title(href="../pug/index.html") IQPoint
                            .col.d-flex.justify-content-center
                                a.nav-link(href="../pug/index.html#feedback") Отзывы
                            .col.d-flex.justify-content-center
                                a.nav-link(href="../pug/index.html#FAQ") FAQ
                            .col.d-flex.justify-content-center
                                a.nav-link(href="../pug/index.html#contacts") Контакты
                .col-2